.preloader {
    margin: 50px 70px 0;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.preloader__button { 
    flex-grow: 1;
    padding: 11px 0 9px 0;
    border: none;
    background: #F9F9F9;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
}

.preloader__button:hover {
    cursor: pointer;
}

@media (max-width: 770px) {
    .preloader {
        margin: 50px 30px 0;
    }
}

@media (max-width: 450px) {
    .preloader {
        margin: 50px 10px 0;
    }
}