.header {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #F3C1F8;
}

.header__navigation {    
    display: flex;
}

.header__logo {
    margin: 18px auto 18px 70px;
}

.header__button {
    margin: 21px 30px 21px auto;
    padding: 8px 20px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: none;
    background-color: #F3C1F8;
    color: #000000;
}

.header__button:hover {
    background-color: #000000;
    border-radius: 3px;
    color: #FFFFFF;
}

.header__prelude {
    background-image: url(../../images/pic__COLOR_landing-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.header__title {
    margin: 0 auto;
    padding: 326px 0 342px 0;
    max-width: 730px;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    color: #000000;
}

@media (max-width: 770px) {
    .header__logo {
        margin: 18px auto 18px 30px;
    }

    .header__title {
        max-width: 630px;
    }
}

@media (max-width: 530px) {
    .header__button {
        margin: 24px 14px 24px auto;
        padding: 5px 12px;
        font-size: 10px;
    }

    .header__title {
        max-width: 320px;
        font-size: 30px;
        line-height: 39px;
    }

    .header__prelude {
        background-size: 248px 284px;
    }
}

@media (max-width: 400px) {
    .header__logo {
        margin: 18px auto 18px 14px;
    }

    .header__title {
        padding: 207px 0 246px 0;
        font-size: 30px;
        line-height: 39px;
    }

    .header__prelude {
        background-size: 248px 284px;
    }
}