.header {
    max-width: 1280px;
    min-height: 74px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__background {
    background-color: #F3C1F8;
}

.header__logo {
    margin-left: 70px;
}

.header__navigation {
    margin-right: 70px;
}

.header__link {
    margin-right: 10px;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: none;
    background-color: #F3C1F8;
    color: #000000;
}

.header__link:last-child {
    margin: 0;
}

.header__link:hover {
    background-color: #000000;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
}

@media (max-width: 770px) {
    .header__logo {
        margin-left: 30px;
    }

    .header__navigation {
        margin-right: 30px;
    }
}

@media (max-width: 530px) {
    .header__link {
        margin: 24px 14px 24px auto;
        padding: 5px 12px;
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .header__logo {
        margin-left: 14px;
    }

    .header__navigation {
        margin-right: 14px;
    }
}